/*НАЧАЛО ОБЩИХ СТИЛЕЙ */
:root {
    --white: #ffffff;
    --black: #232A30;
    --light-blue: #B2D4FF;
    --lighter-blue: #A6CDFF;
    --blue: #006DB8;
    --blue-hover: #0096FD;
    --gray: #B7C5CD;
}

html {
    font-size: 10px;
}

body {
    font-family: 'UniNeue';
    font-weight: 300;
    overflow-x: hidden;
    position: relative;
    font-style: normal;
    background-color: var(--white);
    color: var(--black);
}

svg {
    fill: transparent;
}

section+section {
    margin-top: 4.8rem;
}

section+section.background,
section.background+section {
    margin-top: 2.4rem;
}

section+div {
    margin-top: 2.4rem;
}

.wrapper {
    padding: 0 1.6rem;
}

.title {
    margin-bottom: 2.4rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: center;
}

.ellipsis {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.text {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.text li {
    padding-left: 1.7rem;
    position: relative;
}

.text li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.7rem;
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background-color: var(--lighter-blue);
}

.text li+li {
    margin-top: 1.6rem;
}

.text b {
    font-weight: 700;
}

.blur {
    position: relative;
}

.blur::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    -webkit-filter: blur(75px);
    filter: blur(75px);
    z-index: -1;
}

.btn-show__wrapper {
    margin-top: 1.6rem;
}

.btn-show {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--blue);
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 3.2rem;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.btn-show:hover {
    color: var(--blue-hover);
}

.btn-show:hover .btn-show__arrow svg {
    stroke: var(--blue-hover);
}

.btn-show__arrow {
    position: absolute;
    right: 0.1rem;
    width: 2.4rem;
    height: 2.4rem;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.btn-show__arrow svg {
    -webkit-transition: stroke 0.3s ease;
    -o-transition: stroke 0.3s ease;
    transition: stroke 0.3s ease;
    stroke: var(--blue);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.btn-show.active .btn-show__hide {
    display: inline-block;
}

.btn-show.active .btn-show__more {
    display: none;
}

.btn-show.active .btn-show__arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.btn-show__hide {
    display: none;
}

.icon-text {
    display: flex;
}

a.icon-text:hover span,
a.icon-text:active span,
a.icon-text:focus span,
a.icon-text:focus-within span {
    color: var(--blue-hover);
}

a.icon-text:hover svg,
a.icon-text:active svg,
a.icon-text:focus svg,
a.icon-text:focus-within svg {
    stroke: var(--blue-hover);
}

.icon-text+.icon-text {
    margin-top: 1.2rem;
}

.icon-text svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--blue);
    margin-right: 0.8rem;
    margin-top: 0.2rem;
    flex-shrink: 0;
    transition: stroke 0.3s ease;
}

.icon-text span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--blue);
    transition: color 0.3s ease;
}

.map {
    width: 100%;
    height: 100%;
}

.scroll {
    padding: 0 1.6rem;
    overflow-x: auto;
}

.scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.swiper-not-mobile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.swiper-not-mobile .swiper-slide {
    width: auto;
}

.swiper-delete-buttons .swiper-buttons {
    display: none;
    pointer-events: none;
}

/* ФУТЕР */
.footer__logo {
    display: inline-block;
    width: 6.5rem;
    height: 6.5rem;
}

.footer__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__socials-items {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
}

.footer__socials-link {
    display: inline-block;
    max-height: 2.4rem;
}

.footer__socials-link:hover svg,
.footer__socials-link:active svg,
.footer__socials-link:focus svg,
.footer__socials-link:focus-within svg {
    fill: var(--blue-hover);
}

.footer__socials-link+.footer__socials-link {
    margin-left: 1.6rem;
}

.footer__socials-link svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--blue);
    transition: fill 0.3s ease;
}

.footer {
    margin-top: 4.8rem;
}

.footer__container {
    padding-bottom: 3.2rem;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
}

.footer__socials {
    margin-left: 2rem;
}

.footer__phone-desc {
    margin-top: 0.4rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--gray);
}

.footer__address {
    text-align: center;
    max-width: 74vw;
    margin: 4.8rem auto 4rem;
}

.footer__address-address {
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.footer__address-privacy {
    display: inline-block;
    margin-top: 1.6rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    position: relative;
}

.footer__address-privacy::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    transform: scaleY(0.5);
    background-color: var(--black);
    transition: 0.3s ease;
}

.footer__address-privacy:hover::before,
.footer__address-privacy:active::before,
.footer__address-privacy:focus::before,
.footer__address-privacy:focus-within::before {
    width: 0;
}

.footer__copy {
    text-align: center;
    color: var(--blue);
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
}

/* КОНЕЦ ФУТЕР */

/*КОНЕЦ ОБЩИХ СТИЛЕЙ */

/*НАЧАЛО ОБЩИХ СТИЛЕЙ 668*/
@media(min-width: 668px) {

    html {
        font-size: 1.497005988023952vw;
    }

    .wrapper {
        padding: 0 3.2rem;
    }

    .title {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-bottom: 3.2rem;
    }

    section+section {
        margin-top: 9.6rem;
    }

    section+section.background,
    section.background+section {
        margin-top: 4.8rem;
    }

    section+div {
        margin-top: 4.8rem;
    }

    .scroll {
        padding: 0 3.2rem;
    }

    /* ФУТЕР 668*/
    .footer {
        margin-top: 9.6rem;
    }

    .footer__container {
        border-radius: 1.6rem 1.6rem 0 0;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(23px);
    }

    .footer__wrapper {
        padding: 4.8rem 1.6rem;
    }

    .footer__address {
        margin: 1rem 0 4rem;
        text-align: left;
    }

    /* КОНЕЦ ФУТЕР 668*/
}

/*КОНЕЦ ОБЩИХ СТИЛЕЙ 668*/

/*НАЧАЛО ОБЩИХ СТИЛЕЙ 1024*/
@media(min-width: 1024px) {

    html {
        font-size: 0.9765625vw;
    }

    section+section {
        margin-top: 10.4rem;
    }

    section+section.background,
    section.background+section {
        margin-top: 5.2rem;
    }

    section+div {
        margin-top: 5.2rem;
    }

    .title {
        margin-bottom: 4.8rem;
    }

    .wrapper {
        padding: 0 4rem;
    }

    .scroll {
        padding: 0 4rem;
        overflow: unset;
    }

    .swiper-not-mobile {
        display: block;
    }

    .swiper-not-mobile .swiper-wrapper {
        gap: unset !important;
    }

    .swiper-delete-buttons .swiper-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .swiper-delete-buttons .swiper-button-prev,
    .swiper-delete-buttons .swiper-button-next {
        pointer-events: all;
    }


    .swiper-button-disabled {
        opacity: 1 !important;
    }

    .swiper-hide-buttons:hover .swiper-buttons {
        opacity: 1;
    }

    .swiper-buttons {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: absolute;
        left: 4rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        /* width: 100%; */
        width: calc(100% - 8rem);
        z-index: 100;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }

    .swiper-button-arrow {
        position: static;
        margin: 0;
        /* background: rgba(255, 255, 255, 0.6); */
        /* backdrop-filter: blur(23px); */
        width: 6.4rem;
        height: 6.4rem;
        /* background-color: var(--white); */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-button-arrow:hover svg {
        stroke: var(--blue);
    }

    .swiper-button-arrow svg {
        width: 1.2rem;
        height: 2.5rem;
        stroke: var(--lighter-blue);
        transition: stroke 0.3s ease;
    }

    .swiper-button-arrow.swiper-button-prev {
        transform: rotate(180deg);
    }

    .swiper-button-arrow.swiper-button-disabled svg {
        stroke: var(--lighter-blue);
    }

    .swiper-button-arrow::after {
        content: none;
    }

    /* ФУТЕР 1024*/
    .footer {
        margin-top: 10.4rem;
    }

    .footer__wrapper {
        padding: 5.2rem 2.4rem;
    }

    .footer__socials-items {
        margin-top: 1.2rem;
    }

    .footer__address {
        margin: 1.4rem 0 3.2rem;
    }

    /* КОНЕЦ ФУТЕР 1024*/
}

/*КОНЕЦ ОБЩИХ СТИЛЕЙ 1024*/

/*НАЧАЛО ОБЩИХ СТИЛЕЙ 1500*/
@media(min-width: 1500px) {

    html {
        font-size: 0.666668vw;
    }

    .wrapper {
        padding: 0 11.2rem;
    }

    .scroll {
        padding: 0 11.2rem;
        overflow: unset;
    }

    .swiper-buttons {
        width: calc(100% - 22.4rem);
        left: 11.2rem;
    }

    /* ФУТЕР 1500*/
    .footer {
        margin-top: 5.2rem;
    }

    .footer__blur::after {
        width: 13.3rem;
        height: 13.3rem;
        background-color: var(--light-blue);
        filter: blur(100px);
        bottom: 0;
        right: 40rem;
    }

    .footer__blur::before {
        content: '';
        position: absolute;
        display: block;
        border-radius: 50%;
        z-index: -1;
        width: 11.2rem;
        height: 11.2rem;
        background-color: var(--light-blue);
        filter: blur(100px);
        top: -2rem;
        left: 52rem;
    }

    /* КОНЕЦ ФУТЕР 1500*/
}

/*КОНЕЦ ОБЩИХ СТИЛЕЙ 1500*/