/* НАЧАЛО СТИЛЕЙ ГЛАВНОГО ЭКРАНА */
.main {
    overflow-x: clip;
}

.main__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__item-text {
    text-align: center;
}

.main__item-img {
    margin-top: 4.8rem;
    width: 25.6rem;
    height: 25.6rem;
}

.main__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__blur::after {
    width: 11.2rem;
    height: 11.2rem;
    filter: blur(85px);
    background-color: var(--light-blue);
    right: -7rem;
    top: -2rem;
}

.main__blur::before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    -webkit-filter: blur(70px);
    filter: blur(70px);
    z-index: -1;
    width: 11.2rem;
    height: 11.2rem;
    background-color: var(--light-blue);
    left: -5rem;
    bottom: 14rem;
}

/* КОНЕЦ СТИЛЕЙ ГЛАВНОГО ЭКРАНА */

/* НАЧАЛО СТИЛЕЙ ГЛАВНОГО ЭКРАНА 668*/
@media(min-width:668px) {
    .main__item {
        flex-direction: row;
        align-items: flex-start;
    }

    .main__item-info {
        max-width: 31.3rem;
    }

    .main__item-info .title {
        text-align: left;
        margin-bottom: 1.6rem;
    }

    .main__item-text {
        text-align: left;
    }

    .main__item-info .btn__wrapper {
        text-align: left;
    }

    .main__item-img {
        margin: 0;
        flex-grow: 1;
        width: auto;
        height: 28.4rem;
    }

    .main__blur::before {
        background-color: var(--lighter-blue);
        filter: blur(100px);
        left: 2rem;
        top: 10rem;
    }

    .main__blur::after {
        width: 14.4rem;
        height: 14.4rem;
        filter: blur(100px);
        right: 9rem;
        top: -9rem;
    }
}

/* КОНЕЦ СТИЛЕЙ ГЛАВНОГО ЭКРАНА 668*/

/* НАЧАЛО СТИЛЕЙ ГЛАВНОГО ЭКРАНА 1024*/
@media(min-width:1024px) {
    .main .wrapper {
        padding: 0 11.2rem;
    }

    .main__item {
        justify-content: space-between;
        align-items: center;
    }

    .main__item-info {
        max-width: 40.8rem;
    }

    .main__item-info .btn__wrapper {
        margin-top: 4.8rem;
    }

    .main__item-img {
        flex-grow: unset;
        width: 35.8rem;
        height: 34.1rem;
    }

    .main__blur::after {
        right: 31rem;
        top: -12rem;
    }

    .main__blur::before {
        left: 16rem;
        top: 7rem;
    }
}

/* КОНЕЦ СТИЛЕЙ ГЛАВНОГО ЭКРАНА 1024*/

/* НАЧАЛО СТИЛЕЙ ГЛАВНОГО ЭКРАНА 1500*/
@media(min-width:1500px) {
    .main .wrapper {
        padding: 0 17.4rem;
    }

    .main__item-info {
        max-width: 62.3rem;
        padding-left: 0.1rem;
    }

    .main__item-img {
        width: 52.1rem;
        height: 47rem;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 4rem;
    }

    .main__blur::before {
        left: 39rem;
        top: 6rem;
    }

    .main__blur::after {
        right: 54rem;
    }
}

/* КОНЕЦ СТИЛЕЙ ГЛАВНОГО ЭКРАНА 1500*/