/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ЛЕЧЕБНО-ПРОФИЛАКТИЧЕСКИЙ АППАРАТ ELMEDLIFE СМОЖЕТ ПОМОЧЬ*/
.help {
    position: relative;
}

.help::after {
    content: '';
    position: absolute;
    display: block;
    width: 11.2rem;
    height: 11.2rem;
    background-color: var(--light-blue);
    border-radius: 50%;
    left: -4rem;
    bottom: 2rem;
    filter: blur(75px);
}

.icons-cards__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-cards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-cards__icon {
    width: 8.6rem;
    height: 8.6rem;
    margin-bottom: 0.8rem;
}

.icons-cards__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icons-cards__desc {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
}

.icons-cards__item+.icons-cards__item {
    margin-top: 2.4rem;
}

/* КОНЕЦ СТИЛЕЙ СЕКЦИИ ЛЕЧЕБНО-ПРОФИЛАКТИЧЕСКИЙ АППАРАТ ELMEDLIFE СМОЖЕТ ПОМОЧЬ*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ЛЕЧЕБНО-ПРОФИЛАКТИЧЕСКИЙ АППАРАТ ELMEDLIFE СМОЖЕТ ПОМОЧЬ 668*/
@media(min-width:668px) {
    .icons-cards__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .icons-cards__item {
        max-width: 18rem;
        width: 100%;
    }

    .icons-cards__icon {
        width: 9.4rem;
        height: 9.4rem;
        margin-bottom: 1.6rem;
    }

    .icons-cards__item+.icons-cards__item {
        margin: 0;
    }

    .icons-cards__desc {
        -ms-line-clamp: 3;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    .help::after {
        width: 12.1rem;
        height: 12.1rem;
        filter: blur(100px);
        left: -6rem;
        bottom: -10rem;
    }
}

/* КОНЕЦ СТИЛЕЙ СЕКЦИИ ЛЕЧЕБНО-ПРОФИЛАКТИЧЕСКИЙ АППАРАТ ELMEDLIFE СМОЖЕТ ПОМОЧЬ 668*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ЛЕЧЕБНО-ПРОФИЛАКТИЧЕСКИЙ АППАРАТ ELMEDLIFE СМОЖЕТ ПОМОЧЬ 1024*/
@media(min-width:1024px) {
    .help::after {
        bottom: unset;
        top: -8rem;
        left: 10rem;
    }

    .icons-cards__item {
        max-width: 21.5rem;
    }
}

/* КОНЕЦ СТИЛЕЙ СЕКЦИИ ЛЕЧЕБНО-ПРОФИЛАКТИЧЕСКИЙ АППАРАТ ELMEDLIFE СМОЖЕТ ПОМОЧЬ 1024*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ЛЕЧЕБНО-ПРОФИЛАКТИЧЕСКИЙ АППАРАТ ELMEDLIFE СМОЖЕТ ПОМОЧЬ 1500*/

@media(min-width:1500px) {
    .icons-cards__item {
        flex-direction: row;
        max-width: 35.2rem;
    }

    .icons-cards__icon {
        margin: 0 2.4rem 0 0;
        width: 11rem;
        height: 11rem;
        flex-shrink: 0;
    }

    .icons-cards__desc {
        text-align: left;
        font-size: 1.6rem;
    }

    .help::after {
        width: 22.6rem;
        height: 22.6rem;
        left: 33rem;
        top: unset;
        bottom: -17rem;
    }

    .icons-cards {
        padding: 0 4.6rem;
    }
}

/* КОНЕЦ СТИЛЕЙ СЕКЦИИ ЛЕЧЕБНО-ПРОФИЛАКТИЧЕСКИЙ АППАРАТ ELMEDLIFE СМОЖЕТ ПОМОЧЬ 1500*/